@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontSize: 1.4rem;
  --fontweight: 1;
  --footer-color: "#697565";
  --line-color: "#eceae5";
  --color-dark: "#131313";
  --page-padding: 1.5rem 2rem;
  --smpage-padding: 0.9rem 0.1rem;
}

@font-face {
  font-family: "AlexBrush";
  src: url("/Fonts/OTF/AlexBrush-Regular.ttf");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Kola-Regular";
  src: url("/Fonts/OTF/Kola-Regular.otf");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: Kola-Regular;
}

html {
  height: 100vh;
}

body:after,
body:before {
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100vh;
  z-index: 3023023023020;
  pointer-events: none;
  opacity: 20%;
  scroll-behavior: smooth;
  color: #f3edd8;
}

body::-webkit-scrollbar {
  display: none;
}

body:before {
  filter: url(#grainy);
}

.button {
  color: var(--color-dark);
  background-color: #0000;
  border: 1px #000;
  justify-content: center;
  align-items: center;
  height: 3.125em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  position: relative;
}

.page_title {
  transition: 1s;
  will-change: transform;
}

.line__container {
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  max-width: var(--max-width);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.separator {
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.057);
}

.separator:nth-child(1) {
  left: 25%;
}

.separator:nth-child(2) {
  left: 50%;
}

.separator:nth-child(3) {
  left: 75%;
}

.preloader {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999999;
  color: #fcfcfc;
  backdrop-filter: blur(50px);
}
.loader-word {
  display: flex;
  font-size: 42px;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.dot {
  animation: dot 5s infinite ease-in-out;
}

@keyframes dot {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow-svg {
  stroke: currentColor;
  stroke-width: 2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s forwards infinite;
  fill: none;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.lodingline {
  width: 0%;
  height: 1px;
  background-color: #e9e8e3;
}

.pagetransition_div {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: 1s;
  will-change: transform;
}
.pagetransition_div.animate_in {
  transform: translateX(100%);
}
.pagetransition_div.animate_out {
  transform: translateX(200%);
}
main {
  transition: 1s;
}
main .hidden {
  opacity: 0;
}

.middle_text {
  color: #fcfcfc;
}

.text_size {
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  text-transform: capitalize;
}

.hover {
  color: #e9e8e3;
  filter: blur(0.8px);
}

.blur-effect {
  filter: blur(0.5px);
}

.active {
  filter: none;
}

canvas {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#model-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.models2-canvas {
  background-color: inherit;
  width: 100%;
  height: 100%;
  aspect-ratio: auto 1519 / 948;
  position: absolute;
  top: 0;
  opacity: 0.6;
}

.autoblur {
  animation: autoblur linear both;
  animation-timeline: view();
}
@keyframes autoblur {
  0% {
    filter: blur(40px);
  }
  45%,
  55% {
    filter: blur(0px);
  }
  100% {
    filter: blur(40px);
  }
}
.counter {
  display: flex;
  overflow: hidden;
  pointer-events: none;
  background-color: #797671;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter__li {
  position: absolute;
  height: 25px;
  display: flex;
  justify-content: center;
}

.bg-svg {
  clip-path: polygon(
    calc(100% - 0rem) 0,
    100% 2rem,
    100% calc(100% - 2rem),
    calc(100% - 2rem) calc(100% - 0rem),
    calc(100% - 9rem) 100%,
    2rem 100%,
    0 calc(100% - 2rem),
    0 3rem,
    10rem 3rem,
    12rem 0
  );
  background-color: rgba(72, 141, 160, 0.098);
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: medium;
  text-transform: capitalize;
}

.skills:hover {
  filter: drop-shadow(0 0 0.15rem rgba(156, 143, 145, 0.873));
}

.splitting .word {
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100vw;
  position: relative;
  padding: var(--page-padding);
}

.content-footer {
  display: flex;
  align-items: end;
  width: 100vw;
  padding: 0 1.5rem;
  color: coral;
  opacity: 0.7;
}

.content h2 p {
  width: clamp(60vw, 60rem, 100%);
  margin: 1.5rem auto;
  font-size: clamp(1rem, 2.3vw, 2.5rem);
  line-height: 1.5;
  font-weight: 600;
}

.content__title--left {
  text-align: center;
}

#canvas {
  clip-path: polygon(
    calc(100% - 0rem) 0,
    100% 2rem,
    100% calc(100% - 3rem),
    calc(100% - 7rem) calc(100% - 3rem),
    calc(100% - 9rem) 100%,
    2rem 100%,
    0 calc(100% - 2rem),
    0 3rem,
    10rem 3rem,
    12rem 0
  );
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1px);
  }
}

.arrow-pointer:hover {
  transform: scale(0.98);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.circle-animation {
  animation: growCircle;
  margin-bottom: 1rem;
  animation-timeline: view();
}

@keyframes growCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* img-section */

.stylish-btn {
  padding: 3px 8px;
  font-size: clamp(0.7rem, 0.5cqi, 1.5rem);
  background: linear-gradient(30deg, #302f2f2e, #302e2d0a);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
}

.stylish-btn:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100vw;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 70px;
  margin-bottom: 5rem;
}

.c_img {
  position: relative;
  height: 100%;
}

.c_img:nth-child(1) {
  grid-column: span 6;
}

.c_img:nth-child(2) {
  grid-column: 7 / span 5;
  grid-row: 2;
}

.c_img:nth-child(3) {
  grid-column: span 4;
  grid-row: 3;
}

.c_img:nth-child(4) {
  grid-column: 6 / span 5;
  grid-row: 4;
}

.c_img img {
  width: 100vw;
  height: 88%;
  object-fit: cover;
  object-position: center;
  top: -20%;
  opacity: 0;
}

.c_img_content{
  backdrop-filter: blur(27px);
}
.c_inside_content{
  width: 100%;
  background-image: linear-gradient(#f3edd81a,#f3edd81a);
  backdrop-filter: 40px;
  border: .5px solid #f3edd827;
  padding: 1rem;
  border-radius: 10px;
}

.p-nmb {
  font-size: clamp(2rem, 5cqi, 9rem);
}

.extra_work {
  width: 100%;
  height: 20%;
  background-color: aquamarine;
}

.lineBlock {
  width: 0%;
  height: 1px;
  background-color: #797671;
}

.arrow:hover {
  animation: bounce 1s infinite;
}

.btn {
  width: fit-content;
  height: 2.2rem;
  padding: 5px;
  background: #ffffff;
  filter: drop-shadow(0 0 0.75rem rgba(156, 143, 145, 0.438));
  position: relative;
}

.text {
  display: block;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.btn:hover {
  filter: drop-shadow(0 0 1rem rgba(156, 143, 145, 0.638));
}

.btn:hover .text:first-child {
  transform: translateY(-100%);
  opacity: 0;
}

.text {
  display: block;
}

.char h3 {
  color: coral;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s ease-in-out;
}

svg {
  max-width: none;
  height: auto;
  box-sizing: border-box;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

.footer-logo {
  opacity: 0.08;
  display: flex;
  flex-wrap: wrap;
}

.footer-bg {
  clip-path: polygon(
    0.045% 5.718%,
    0.045% 5.718%,
    0.048% 5.571%,
    0.055% 5.425%,
    0.068% 5.282%,
    0.085% 5.141%,
    0.107% 5.003%,
    0.134% 4.868%,
    0.166% 4.738%,
    0.202% 4.612%,
    0.242% 4.492%,
    0.287% 4.377%,
    1.782% 0.805%,
    1.782% 0.805%,
    1.841% 0.675%,
    1.905% 0.557%,
    1.974% 0.452%,
    2.046% 0.359%,
    2.122% 0.279%,
    2.2% 0.213%,
    2.282% 0.161%,
    2.365% 0.123%,
    2.45% 0.101%,
    2.537% 0.093%,
    36.19% 0.093%,
    36.19% 0.093%,
    36.261% 0.098%,
    36.331% 0.114%,
    36.4% 0.139%,
    36.468% 0.175%,
    36.535% 0.22%,
    36.6% 0.275%,
    36.663% 0.339%,
    36.724% 0.413%,
    36.782% 0.495%,
    36.838% 0.586%,
    39.042% 4.475%,
    39.042% 4.475%,
    39.103% 4.574%,
    39.166% 4.664%,
    39.233% 4.744%,
    39.301% 4.814%,
    39.372% 4.874%,
    39.445% 4.924%,
    39.519% 4.963%,
    39.595% 4.991%,
    39.671% 5.008%,
    39.749% 5.013%,
    50% 5.013%,
    59.981% 5.013%,
    59.981% 5.013%,
    60.065% 5.007%,
    60.148% 4.987%,
    60.23% 4.954%,
    60.31% 4.908%,
    60.388% 4.85%,
    60.463% 4.781%,
    60.536% 4.699%,
    60.606% 4.606%,
    60.673% 4.501%,
    60.735% 4.386%,
    62.607% 0.668%,
    62.607% 0.668%,
    62.664% 0.562%,
    62.725% 0.467%,
    62.789% 0.381%,
    62.856% 0.306%,
    62.925% 0.242%,
    62.997% 0.189%,
    63.07% 0.147%,
    63.145% 0.117%,
    63.221% 0.099%,
    63.298% 0.093%,
    97.262% 0.093%,
    97.262% 0.093%,
    97.343% 0.1%,
    97.423% 0.12%,
    97.501% 0.153%,
    97.578% 0.199%,
    97.653% 0.257%,
    97.725% 0.328%,
    97.794% 0.41%,
    97.86% 0.503%,
    97.922% 0.608%,
    97.981% 0.724%,
    99.677% 4.362%,
    99.677% 4.362%,
    99.728% 4.48%,
    99.774% 4.606%,
    99.816% 4.737%,
    99.852% 4.875%,
    99.883% 5.018%,
    99.909% 5.165%,
    99.929% 5.315%,
    99.943% 5.469%,
    99.952% 5.626%,
    99.955% 5.784%,
    99.955% 93.492%,
    99.955% 93.492%,
    99.95% 93.616%,
    99.936% 93.734%,
    99.914% 93.843%,
    99.883% 93.944%,
    99.846% 94.033%,
    99.803% 94.109%,
    99.754% 94.172%,
    99.701% 94.218%,
    99.644% 94.247%,
    99.583% 94.257%,
    76.921% 94.257%,
    76.921% 94.257%,
    76.834% 94.264%,
    76.749% 94.285%,
    76.665% 94.32%,
    76.582% 94.369%,
    76.502% 94.43%,
    76.425% 94.504%,
    76.35% 94.591%,
    76.279% 94.69%,
    76.211% 94.8%,
    76.148% 94.922%,
    74.048% 99.297%,
    74.048% 99.297%,
    73.99% 99.409%,
    73.929% 99.511%,
    73.863% 99.601%,
    73.795% 99.681%,
    73.724% 99.749%,
    73.65% 99.805%,
    73.575% 99.849%,
    73.498% 99.881%,
    73.419% 99.901%,
    73.34% 99.907%,
    26.522% 99.907%,
    26.522% 99.907%,
    26.436% 99.899%,
    26.35% 99.876%,
    26.266% 99.838%,
    26.185% 99.786%,
    26.106% 99.719%,
    26.03% 99.639%,
    25.957% 99.545%,
    25.889% 99.439%,
    25.825% 99.32%,
    25.765% 99.189%,
    24.043% 95.041%,
    24.043% 95.041%,
    23.978% 94.898%,
    23.908% 94.768%,
    23.833% 94.652%,
    23.754% 94.55%,
    23.671% 94.462%,
    23.585% 94.39%,
    23.496% 94.332%,
    23.405% 94.291%,
    23.312% 94.266%,
    23.217% 94.257%,
    0.417% 94.257%,
    0.417% 94.257%,
    0.356% 94.247%,
    0.299% 94.218%,
    0.246% 94.172%,
    0.197% 94.109%,
    0.154% 94.033%,
    0.117% 93.944%,
    0.087% 93.843%,
    0.064% 93.734%,
    0.05% 93.616%,
    0.045% 93.492%,
    0.045% 5.718%
  );
  background-color: rgba(72, 141, 160, 0.098);
}

@media (max-width: 768px) {
  .models2-canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  .content {
    padding: var(--smpage-padding);
  }

  .content p {
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  }
  .content__title--left {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .c_img:nth-child(1) {
    grid-column: 1 / span 8;
  }

  .c_img:nth-child(2) {
    grid-column: 1 / span 8;
    grid-row: 2;
  }

  .c_img:nth-child(3) {
    grid-column: 1 / span 8;
    grid-row: 3;
  }

  .c_img:nth-child(4) {
    grid-column: 1 / span 8;
    grid-row: 4;
  }
}

@media screen and (max-width: 530px) {
  .c_img img {
    width: 90vw;
    height: 80%;
    object-fit: cover;
    object-position: center;
    top: -20%;
    opacity: 1;
  }
  .c_img_text {
    display: flex;
    flex-direction: column;
  }
}

/* backdrop */
/* linear-gradient(#f3edd81a,#f3edd81a) */