@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fontSize: 1.4rem;
  --fontweight: 1;
  --footer-color: "697565";
  --line-color: "#eceae5";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  height: 100vh;
}

body:after,
body:before {
  font-family: light;
  position: fixed;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100vh;
  z-index: 3023023023020;
  pointer-events: none;
  opacity: 20%;
  color: #151515;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body:before {
  filter: url(#grainy);
}

#main {
  width: 100%;
  height: 100vh;
}

.bg-radialgradiant {
  background-image: radial-gradient(
    circle,
    #bfbab225 100%,
    #88857f 100%,
    #797671 90%,
    #595653 100%
  );
}

.text_size {
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  text-transform: capitalize;
}

.hover {
  filter: blur(0.8px);
}

.link-item {
  transition: filter 0.3s ease-in-out;
}

.blur-effect {
  filter: blur(0.5px);
}

.active {
  filter: none;
}

canvas {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#model-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.models2-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.counter {
  display: flex;
  overflow: hidden;
  pointer-events: none;
  background-color: #797671;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter__li {
  position: absolute;
  height: 25px;
  display: flex;
  justify-content: center;
}

.preloader {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999999;
  background-color: #141516;
}

.word {
  display: flex;
  font-size: 42px;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.bg-svg {
  clip-path: polygon(
    calc(100% - 0rem) 0,
    100% 2rem,
    100% calc(100% - 3rem),
    calc(100% - 7rem) calc(100% - 3rem),
    calc(100% - 9rem) 100%,
    2rem 100%,
    0 calc(100% - 2rem),
    0 3rem,
    10rem 3rem,
    12rem 0
  );
  background-color: #d9d9d9;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header content"
    "menu content";
  grid-template-columns: 0fr 2fr;
  gap: 5px;
}

.grid-container .text {
  border: 1px solid #797671;
  grid-area: header;
}

.grid-container .photo {
  border: 1px solid #797671;
  grid-area: content;
}

.grid-container .bottom {
  border: 5px solid #797671;
  grid-area: menu;
}

#canvas {
  clip-path: polygon(
    calc(100% - 0rem) 0,
    100% 2rem,
    100% calc(100% - 3rem),
    calc(100% - 7rem) calc(100% - 3rem),
    calc(100% - 9rem) 100%,
    2rem 100%,
    0 calc(100% - 2rem),
    0 3rem,
    10rem 3rem,
    12rem 0
  );
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1px);
  }
}

.lineBlock {
  width: 100%;
  height: 1px;
  background-color: var(--line-color);
  transform-origin: left;
}

.arrow:hover {
  animation: bounce 1s infinite; /* Apply bounce animation */
}

.btn {
  width: fit-content;
  height: 2.2rem;
  padding: 5px;
  background: #ffffff;
  filter: drop-shadow(0 0 0.75rem rgba(156, 143, 145, 0.438));
  position: relative;
}

.text {
  display: block;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.btn:hover {
  filter: drop-shadow(0 0 1rem rgba(156, 143, 145, 0.638));
}

.btn:hover .text:first-child {
  transform: translateY(-100%);
  opacity: 0;
}

.text {
  display: block;
}

/* .animate-bg {
  transition: all 3s ease-in-out;
} */

@media (max-width: 900px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .models2-canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
}
